/* Paleta base */
:root {
    /* Roxo principal (Kadora): */
    -kadora-primary: #7C61F2;
    /* Roxo escuro p/ contraste: */
    -kadora-primary-darker: #7B12DE;
    /* Plano de fundo */
    -surface: #7B12DE;
    -text: #white;
    -muted: #61A1F1;
}

/* Backdrop para modal */
.backdrop {
    -fx-background-color: rgba(0,20,0,0.45);
}

/* Card container */
.det-card {
    -fx-background-color: #61A1F1;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(gaussian,rgba(97,161,241,0.35), 18, 0.2, 0, 6);
}

/* Título grande */
.det-title {
    -fx-text-fill: -text;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* Subtítulos (rótulos) */
.det-subtitle {
    -fx-text-fill: -muted;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

/* Texto comum */
.det-text {
    -fx-text-fill: -text;
    -fx-font-weight: bold;
    -fx-font-size: 18px;

}

/* Descrição (TextArea) */
.det-desc {
    -fx-control-inner-background: derive(-white, 6%);
    -fx-text-fill: -text;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 8;
    -fx-border-color: #61A1F1; /* Roxo principal */
    -fx-border-radius: 10;
    -fx-border-width: 5px; /* Aumenta a espessura da borda */
    -fx-background-color: #black, derive(-card, 6%); /* Cor da borda preenchida + fundo */
    -fx-background-insets: 0, 3; /* 3px corresponde à espessura da borda */
}

/* Chip de categoria */
.chip {
    -fx-background-color: ladder(-kadora-primary, derive(-kadora-primary, -10%) 60%, -kadora-primary 100%);
    -fx-text-fill: white;
    -fx-padding: 4 10 4 10;
    -fx-background-radius: 999;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
    -fx-effect: innershadow(gaussian, rgba(90,63,209,0.6), 8, 0.6, 0, 0);
}

/* Botões */
.btn-primary {
    -fx-background-color: linear-gradient(to bottom, #7B12DE, -kadora-primary-darker);
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 16 8 16;
}
.btn-primary:hover {
    -fx-effect: dropshadow(gaussian, rgba(124,97,242,0.45), 14, 0.3, 0, 4);
}

.btn-secondary {
    -fx-background-color: transparent;
    -fx-border-color: derive(-kadora-primary, -25%);
    -fx-border-radius: 10;
    -fx-text-fill: -text;
    -fx-padding: 8 16 8 16;
}
.btn-secondary:disabled {
    -fx-opacity: 0.5;